body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; 
  animation: fadeIn1 2s ease-in-out forwards; 
}

@keyframes fadeIn1 {
  from {
    background-color: rgba(0, 124, 255, 1);
  }
  to {
    background-color: #f0f0f0; 
  }
}
@keyframes fadeIn2 {
  from {
    background-color: rgba(0, 124, 255, 1);
  }
  to {
    background-color: #464141; 
  }
}
@keyframes TextfadeIn {
  from {
    color: rgba(0, 124, 255, 1); 
  }
  to {
    color: #ffffff; 
  }
}
@keyframes TextfadeIn2 {
  from {
    color: rgba(0, 124, 255, 1); 
  }
  to {
    color: #000000; 
  }
}


body2 h1{
text-align: center;

}

body2 button {
  position: absolute;
  top: 0px; 
  right: 20px;
  color: rgb(6, 10, 15); 
  background-color: red;
  display: none; 

}
.reveal {
  display: block;
}
main h2{
text-align: center;
}

main p{
text-align: center;
}
header {
    background-color: rgba(0, 124, 255, 1);
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    animation: TextfadeIn 2s ease-in-out forwards;
    
  }
  header button{
    padding: 10px 25px;
    margin: 25px 0;
    border-radius:55px;
    box-sizing: border-box;
  }
  nav {
    background-color: #464141;
    color:#464141; 
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    animation: fadeIn2 2s ease-in-out forwards;
  }
  nav h1{
    text-align: center;
    color: black;
    font-size: 32px;
    padding: 3;
    margin: 0;
    animation: TextfadeIn 2s ease-in-out forwards;
  
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul h1{
    font-size:25px;
    margin: 5%;
  }

  
  nav li {
    margin-bottom: 10px;    
  }
  
  nav a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    animation: TextfadeIn 2s ease-in-out forwards;
  }
  nav a.active{
    background-color: #5c575b;
    color: rgb(148, 25, 25);
  }
  nav a:hover:not(.active) {
    background-color: #736d6d;
    color: white;
    transition: background-color 0.3s;
  }
  
  main {
    margin-left: 200px;
    padding: 20px;
  }
  
  main h2 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  footer {
    background-color: #464141;
    color: #e7e7e7;
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeIn2 2s ease-in-out forwards;
  }
footer p{
  animation: TextfadeIn 2s ease-in-out forwards;

}

main h2 {
  animation: TextfadeIn2 2s ease-in-out forwards;
}
main p{
  animation: TextfadeIn2 2s ease-in-out forwards;
}
.c1 button a{
  font-size: 20px;
  width: 10%;
  text-decoration: none;
  text-decoration-line: none;
    
}

.c1 button{
  padding: 12px 20px;
  margin: 8px 0;
  border-radius:55px;
  box-sizing: border-box; 
  background-color: white;
}


.c1 div{
  background-color: pink;

}

.c1 h2{
  color: rgb(255, 255, 255);
  font-size: 35px;
}
div {
  background-color: rgba(0, 124, 255, 1);
  padding:50px;
  border-radius: 4px;
  box-shadow: 10px 10px rgb(87, 79, 79);
  width: 200px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.c1 input{
width: 80%;
margin-top: 10px;
padding: 10px;
border: 1px solid rgb(0, 0, 0);
}


.c1 i{
  font-size: 20px;
  position: absolute;
  right: 65px;
  transform: translateY(90%);
}

.c1 i1{
  font-size: 20px;
}